<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A study application for Rich Media Web Application Development II course.">
        <meta name="keywords" content="study,aid,web,application,IGME430">
        <meta name="author" content="Ian Effendi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup!</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
        <link rel="stylesheet" href="main.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="spacer"></div>
            <div class="row">
                <div class="column"><h1>Mindr</h1></div>
            </div>
            <div class="row">
                <div class="column">
                    <p>Sign up for the platform here.</p>
                </div>
            </div>
            <div class="row">
                <form action="signup" method="post">
                    <fieldset>
                      <label for="usernameField">Username</label>
                      <input type="text" placeholder="abc123" id="usernameField">
                      <label for="passwordField">Password</label>
                      <input type="password" placeholder="*******" id="passwordField">
                      <input class="button-primary" type="submit" value="Send">
                    </fieldset>
                </form>
            </div>
            <div class="row">                 
                <div class="column">
                    <div class="row">Already a user?</div>
                    <div class="row"><a class="button" href="login">Click here</a>.</div>
                </div>
            </div>
            <div class="row">
                <a class="button button-clear" href="index">Home</a>.
            </div>
        </div>
    </body>
</html>